{% extends 'blog/base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="bg-light" style="display: flex;justify-content: flex-start;align-items: center; flex-direction: column; width: 1100px;height: 600px">
            <h2 style="margin-top: 100px;margin-bottom: 16px">New post</h2>

            <form method="POST" class="post-form">{% csrf_token %}
                {{ form.as_p }}

                <button style="width: 80px; font-size: 15px" type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    {% endif %}

{% endblock %}