{% extends 'blog/base.html' %}

{% load staticfiles %}

{% block content %}
    <div>
        {% for post in posts %}
            <div class="card" style="width: 1000px;margin-bottom: 16px;margin-top: 16px;justify-content: flex-start; align-items: center; flex-direction: row ">
                <img style="width: 180px;height: 120px; margin: 8px; flex: content" src="{% static 'images/default_book.jpg' %}">
                <div style="width: 780px; flex: content">
                    <h5 class="card-title">
                        <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ post.text }}</h6>
                    <p class="card-text">
                        {{ post.created_date }}
{#                        {% for author in authors %}#}
{#                            {% ifequal author.author_id book.author_id %}#}
{#                                <a href="" class="card-link">{{ author.author_name }}</a>#}
{#                            {% endifequal %}#}
{#                        {% endfor %}#}
                    </p>
                </div>

{#                <a href="{% url 'book_info' pk=book.pk %}" class="btn btn-outline-primary">Подробнее</a>#}
{##}
{#                <div class="card-footer">#}
{#                    <small class="text-muted">#}
{#                        Created: {{ book.created_date }}#}
{#                    </small>#}
{#                </div>#}
{##}
{#            {% if user.is_authenticated %}#}
{#                <a href="" style="position: absolute; right: 10px;top: 10px;">#}
{#                    <img style="height: 20px;width: 20px" class="book-card-img" src="{% static 'images/ic_add_order.png' %}">#}
{#                </a>#}
{##}
{#            {% endif %}#}

            </div>

    	{% endfor %}

        </div>
{% endblock %}


