<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Blog</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
	<body>

    <nav class="navbar  navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'post_list'%}" style="font-size: 19px">
            {% if  user.is_authenticated %}
                {{ user.username }}'s Blog</a>
            {% else %}
                Blog
            {% endif %}

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'post_list'%}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Контакты</a>
                </li>

            </ul>
            {% if user.is_authenticated %}
                <h6 class="font-weight-lighter" style="margin-right: 8px"><a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a></h6>
                <h6 class="font-weight-lighter" style="margin-right: 8px"><a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a></h6>
                <p >Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
            {% else %}
                <h6 class="font-weight-lighter" style="margin-right: 8px"><a href="{% url 'login' %}">Войти</a></h6>
                <h6 class="font-weight-lighter" style="margin-right: 8px"><a href="{% url 'signup' %}">Создать аккаунт</a></h6>
            {% endif %}

        </div>

      </div>
    </nav>

        <div class="content container">
            <div class="row">
{#                <div class="col-md-8">#}
					{% block content %}
					{% endblock %}
{#				</div>#}
            </div>
		</div>

	</body>
</html>

